

body{
    width: 100%;
    margin: 0 auto;
    background-color: black;
}
.container{
    width: 100%;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 550px 400px;
    margin: auto;
    background-color:black;
    
}

.item2{
    align-self: center;
    align-content: center;
}

ul {
	list-style: none;
	color: rgb(61, 125, 202);
}

.modal-title h1{
 
  display: block;
  text-align: center;
}



.state-heading, .state-cases{
  color:white;
}

.state-heading{
  text-decoration: underline;
  text-decoration-color: red;
}

.image-row{
 width: 100%;
 text-align: center;
  display: block;

}

.display-4{
  color: white;
  text-align: center;
}

.modal-header{
  text-align: center ;
  display: block;
}


h5 {
    text-align: center;
}

.styling:hover {
	background-color: rgb(255, 203, 5);
}


svg{
  min-width: 200px;
}

li {
	color: rgb(61, 125, 202);
}



@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.rotate {
  -webkit-animation: rotating 5s linear infinite;
  -moz-animation: rotating 5s linear infinite;
  -ms-animation: rotating 5s linear infinite;
  -o-animation: rotating 5s linear infinite;
  animation: rotating 5s linear infinite;
}

.pulsing{
  animation: pulse 2s infinite;
  height: 40%;
  width: 400px;
  min-width: 100px;
  transform: scale(1);
}

@keyframes pulse{
  0%{
transform: scale(0.9);
  }

  70%{
    transform: scale(1);
  }

  100%{
    transform:scale(0.9);
  }

}



